.game-page {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ECECEA;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container take the full height of the viewport */
  width: 100vw; /* This makes the container take the full width of the viewport */
}

.game {
  max-width: 90%; /* Limits the game width and allows some margin around it */
  max-height: 90%; /* Limits the game height and ensures it does not overflow the viewport */
  display: flex;
  flex-direction: column; /* Organizes children elements vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}


.game-page ol, ul {
  padding-left: 30px;
}

.game-page .board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-page .status {
  margin-bottom: 10px;
}

.game-page .square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.game-page .square:focus {
  outline: none;
}

.game-page .kbd-navigation .square:focus {
  background: #ddd;
}

.game-page .game-info {
  margin-left: 20px;
}


.icons-attribution, .game-status, .fallen-soldier-block{
  margin-top: 20px;
  min-height: 50px;
}



/*Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html*/
.dark-square{
background-color: RGB(187,190,100);
}

.light-square{
    background-color: RGB(234,240,206);
}

h3{
  margin-bottom: 0px;
}

