.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; /* Or any other color you prefer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.animated-text {
  font-family: Courier New, Courier, monospace; /* Adjust as necessary */
  overflow: hidden; /* Ensures the "typing" effect contains the letters */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as necessary */
  animation:
    typing 3.5s steps(40, end), /* The typing effect */
    blink-caret .75s step-end infinite; /* The cursor effect */
}

/* Typing keyframes for the "typing" effect animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Blinking keyframes for the cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}