.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.animated-text {
  font-family: Courier New;
  overflow: clip;
  /* Ensures the content is clipped, and no scrollbars are visible */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  /* Cursor next to the text */
  white-space: nowrap;
  /* Prevents text from breaking onto the next line */
  animation:
    typing 3s steps(25, end),
    /* Duration should align with the number of steps/characters */
    blink-caret 0.75s step-end infinite;
  /* Cursor blinking effect */
}

@keyframes typing {
  from {
    width: 0;
    /* Start from zero to only show a blinking cursor */
  }

  to {
    width: 16ch;
    /* 'ch' units corresponding to the number of characters */
  }
}

@keyframes blink-caret {

  0%,
  100% {
    border-color: transparent;
  }

  /* Cursor is invisible at the start/end */
  30% {
    border-color: rgba(255, 255, 255, 0.75);
  }

  /* Halfway through the animation, the cursor becomes visible */
}