.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh; /* This keeps your container to the height of the viewport */
    box-sizing: border-box;
  }
  
  .image-section, 
  .text-section {
    flex: 1;
    padding: 200px; /* This keeps the original padding */
  }
  
  .image-section img {
    width: 100%;
    height: auto;
    border-radius: 14px;
  }
  
  .text-section {
    text-align: left;
    font: courier;
    padding-left: 30px; /* This reduces only the left padding, moving your text closer to the image. Adjust the '150px' as necessary to get the desired spacing. */
  }
  
  .text-section h1, 
  .text-section p {
    margin: 0 0 20px 0; /* Keeps the spacing between text elements */
  }
  