.rotateLine1 {
    transform: rotate(45deg);
  }
  
  .hideLine2 {
    transform: scaleY(0);
  }
  
  .rotateLine3 {
    transform: rotate(-45deg);
  }
  
  /* This class shows the menu */
  .showMenu {
    transform: translateX(0);
  }
  