.resume-container {
    text-align: center;
}

.resume-image {
    width: 100%;
    height: auto;

}

.download-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}